html, body {width: 100%; height: 100%; background-color: #ddd;}
.m-top {max-width: 1920px; width: 100%; margin: 0 auto; padding-bottom:0;}
.m-bar {float:left; width: 86%; margin: 0 7%; padding: 5px; height: 55px; align-self: center;  position: fixed; opacity: 0.5; border-radius: 20px; transition-property: none;}
.m-white {background-color: #ddd; color: #fff;} 
.m-font {font-family: 'Times New Roman', Times, serif; font-size: 20pt; font-style: oblique;}
.m-lbutton {float:left; padding: 2px 15px; text-align: center; text-shadow: #ff00ff; cursor: grabbing;}
.m-lbutton:hover {background-color: #333; color: #ddd; }
.m-rbutton {float:right; padding: 2px 15px; text-align: center; text-shadow: #ff00ff; cursor: grabbing;}
.m-rbutton:hover {background-color: #333; color: #ddd; }

.m-container {float:left; padding: 0 5%; margin: 0 auto;}
.float-1 {float:left; width: 30%;}
.float-2 {float:right; width: 70%;}
.m-txt {display:block; float:left; margin-top: -10rem; padding-left: 40%;}
.m-txt > h1 {font-size: x-large; color: #fff; opacity: 0.9; text-emphasis-color: gray;}
/* -------------------------------------------------------------header & body----------------------------- */

.page-1 {float:left; max-width: 1600px; color: #111; padding: 5px; top-margin: 5px;}

.sect-1 {text-align:left;}
.s1-txt {border-bottom: #ff00ff; border-block-color: gray; padding: 0 15px;}
